fastapi==0.67.0
pydantic==1.8.2
flake8==3.9.2
isort==5.9.2
alembic==1.6.5
uvicorn[standard]==0.14.0
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-decouple==3.4
psycopg2==2.9.1
python-multipart==0.0.5
pytest==6.2.4
requests==2.26.0
pytest_mock==3.6.1
